table {margin-left:50px; text-align:center; border-collapse:collapse;}
td, th {padding:5px; }
th {color:white; background-color:#AD522D; font-family:Arial, Helvetica, sans-serif;}
tr:nth-child(even) {background: #CCC}
